# Basic Security settings
PermitRootLogin prohibit-password
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

# Logging (Auth logs sent to syslog -> Cribl)
SyslogFacility AUTH
LogLevel INFO

# ---------------------------------------------------------------------------
# SFTP JAIL CONFIGURATION
# ---------------------------------------------------------------------------
# Configure the SFTP subsystem
Subsystem sftp internal-sftp

# Match the group we created in the Dockerfile
Match Group sftpusers
    # Force the user into their home directory
    ChrootDirectory /home/%u
    # Force the use of the internal SFTP server (no shell access)
    ForceCommand internal-sftp
    # Disable port forwarding to prevent tunneling attacks
    AllowTcpForwarding no
    X11Forwarding no